.homeHero {

  position: relative;
  background: url("/img/hero-back.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  //&::before {
  //  content: '';
  //  background-color: rgba(246, 246, 246, 0.901);
  //  position: absolute;
  //  height: 100%;
  //  width: 100%;
  //}

}